<h1>Hacker News Scrape</h1>

<div id="wrapper">
  <h1>Note Scraper</h1>
  <h2><i>This homework is cool.</i></h2>
  <div id="articles"></div>
  <div id="notes"></div>
</div>
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="../assets/javascript/app.js"></script>